<footer>
    <nav class="main-footer__nav">
        <ul class="main-footer">
          <li class="footer__item">
              <a class="<%= path === '/shop/index' ? 'active' : '' %>" href="/">Shop</a>
          </li>
          </ul>
    </nav>
    </footer>