extends layout/main-layout.pug 
block style
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")
block content 
    main
        if pName.length > 0
            .grid
                article.card.product-item
                    header.card__header
                        h1.product__title #{pName}
                    div.card__image
                        img(src="/images/products/blueberry.jpeg")
                    div.card__content
                        h2.product__price $1.99
                        p.product__description Good for health!
                    .card__actions
                        button.btn Add to Cart         
        else
            h1 No products 

