body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main {
    padding: 1rem;
}

.top-header {
    width: 100%;
    height: 3.5rem;
    background-color: #070707;
    padding: 0 2.5rem;
    font-size:x-large;
    font-family: sans-serif;
}

.top-header-nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.top-header-item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.top-header__item {
    margin: 0 2rem;
    padding: 0;
}

.top-header__item a {
    text-decoration: none;
    color: rgba(247, 243, 243, 0.961);
}

.top-header__item a:hover,
.top-header__item a:active,
.top-header__item a.active {
    color: #b6a6ce;
}