  .submit-button {
    font: large;
    color: rgb(1, 1, 16);
  }
  .form-control label 
  .form-control input {
display: block;
  }
  .form-control input {
        border: 1px solid #dbc441;
        font: inherit;
        border-radius: 2px;
    }

    button {
        font: inherit;
        border: 1px solid #3e00a1;
        color: #3e00a1;
        background: white;
        border-radius: 3px;
        cursor: pointer;
    }

    button:hover,
    button:active {
        background-color: #3e00a1;
        color: white;
    }