.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.product-item {
  width: 20rem;
  max-width: 95%;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  position: relative;
  top:auto;
  text-align: center;
  color: #090909;
  margin-bottom: 0.0rem;
}

.product__description { 
  position: relative;
  top:auto;
  text-align: center;
  color: #090909;
}
.quickView-button {
  background-color: #080909;
  color: white;
  transition: all .25s ease-out;

 
  position: absolute;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  border: 1px solid #f0eded;
  background-color: rgb(27, 116, 211);
  padding: 5px;
  font-size: 1rem;
  white-space: nowrap;
  transition: opacity .6s;
  cursor: pointer;
}