.user-input {
padding: 1rem;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn:hover,
.btn:active {
  background-color: #080909;
  color: white;
}
.input-label {
    color: chocolate;
}