<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users home</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <header class="top-header"> 
        <nav class="top-header-nav">
                <ul class="top-header-item-list">
                    <li class="top-header__item"><a class="active" href="/">user list</a></li>
                    <li class="top-header__item"><a href="/users">Add User</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1> List of Users</h1>
    </form>
    </main>
</body>
</html>