<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users</title>
</head>
<body>
    <main>
       
        <form action="/users-list" method="POST" title="UserName">
            <label for="title">User Name</label>
            <input type="text" name="UserName" title="User Name" id="UserName">
            <label for="title">password</label>
            <input type="password" name="password" title="password" id="password">
            <button type="submit">Submit</button>
        </form>
        
    </main>
</body>
</html>