<header class="main-header">
    <nav class="main-header-nav">
      <ul class="main-header__item-list">
        <li class="main-header-item">
            <a class="<%= path === '/index' ? 'active' : '' %>" href="/">User</a>
        </li>
        
    </ul>
    </nav>
  </header>