<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User reg</title>
    
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <h1> Add user</h1>
    <header class="top-header">
        <nav class="top-header-nav">
          <ul class="top-header-item-list">
            <li class="top-header__item"><a href="/">home</a></li>
            <li class="top-header__item">
              <a class="active" href="/users">Add user</a>
            </li>
          </ul>
        </nav>
      </header>
    
      <main>
          <form class="user-form" action="/users" method="POST">
              <div class="form-control">
                  <label for="title">Title</label>
                  <input type="text" name="title" id="title">
                  <button type="submit">Add user</button>
              </div>
          </form>
      </main>
</body>
</html>